player-connection-mode=Connect
player-connection-guid=2439222174
player-connection-debug=0
player-connection-project-name=WxMiniGame
player-connection-wait-timeout=-1
player-connection-ip=192.168.1.15
player-connection-ip=10.165.32.214
profiler-enable=1
-diag-memory-snapshot-block-count=64
wait-for-native-debugger=0
hdr-display-enabled=0
